<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link rel="stylesheet" href="/resources/css/style.css">
        <link rel="stylesheet" href="/resources/css/layout.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <title>Island Hopping</title>
    </head>

    <body>
        <header class="header">
            <h1 class="header__title">Welcome to JAC Enterprises Island Hopping</h1>

            <% if (messages.success) { %>
            <div class="alert alert-success" role="alert"><%- messages.success %></div>
            <% } %>

            <% if (messages.error) { %>
            <div class="alert alert-danger" role="alert"><%- messages.error %></div>
            <% } %>

            <% if(data.length) { %>
        </header>

        <section class="island-list">
            <h2 class="iland-list__heading">Islands and known adventures:</h2>
            <nav class="island-list-nav">
                <ul class="island-list-links__island">
                    <% for(let i = 0; i < data.length; i++) { %>
                        <li class="island-list-links__country">
                            <h3 class="island-list-links__link" href="./islands/<%= data[i].island_id%>"><%= data[i].location%></h3>
                        </li>
                        <p class="island-adventures"><%= data[i].adventures%></p>
                        <!-- <h3 class="island-details__island"><%= data[i].adventures%></h3> -->
                    <% } %>
                    
            <% } %>
                </ul>
            </nav>

            <a class="nav__home" href="/island-hopping/continent/<%= data[0].continent_id %>" >Back to Countries</a>
        </section>

    </body>
</html>