<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link rel="stylesheet" href="/resources/css/country.css">
        <!-- <link rel="stylesheet" href="/resources/css/layout.css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <title>Island Hopping</title>
    </head>

    <body>
        <header class="header">
            <h1 class="header__title">Welcome to JAC Enterprises Island Hopping</h1>

            <% if (messages.success) { %>
            <div class="alert alert-success" role="alert"><%- messages.success %></div>
            <% } %>

            <% if (messages.error) { %>
            <div class="alert alert-danger" role="alert"><%- messages.error %></div>
            <% } %>

            <% if(data.length) { %>
                <h2>
                    <!-- <%= data[0].location %> -->
                </h2>
            <% } %>
        </header>

        <section class="island-list">
            <h2 class="iland-list__heading">Here is a list of our islands:</h2>
            <nav class="island-list-nav">
                <ul class="island-list-links__island">
                    <% for(let i = 0; i < data.length; i++) { %>
                        <li class="island-list-links__country">
                            <a class="island-list-links__link" href="./islands/<%= data[i].island_id%>"><%= data[i].location%></a>
                        </li>
                    <% } %>
                </ul>
            </nav>

            <a class="nav__home" href="/island-hopping" >Back to Island Hopping</a>
        </section>

    </body>
</html>